[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
requests = "*"
pyopenssl = "*"
cryptography = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pycryptodome = "*"
web3 = "*"
sqlalchemy = "*"
psycopg2 = "*"
pyjwt = "*"
mnemonic = "*"

[dev-packages]

[requires]
python_version = "3.11"
