<div class="container pt-4" *ngIf="this.receivedCredentialRecords.length > 0">
    <div class="row">
        <div class="col-6">
            <h3>Issued Credentials:</h3>
        </div>
        <div class="col-6">
            <h3>Received Credentials:</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <app-credentials-list [credentialsExchangeRecords]="this.issuedCredentialRecords" />
        </div>
        <div class="col-6">
            <app-credentials-list [credentialsExchangeRecords]="this.receivedCredentialRecords" />
        </div>
    </div>
</div>