<nav class="navbar sticky-top bg-dark">
    <div class="container">
        <span class="navbar-brand mb-0 h1">Trust Coalition Agent (TCA) - Client</span>

        <ng-container [ngSwitch]="status">
            <div *ngSwitchCase="agentStatus.Up" class="status-light bg-success" role="status" title="Connection to Agent established"></div>
            <div *ngSwitchCase="agentStatus.Down" class="status-light bg-danger" role="status" title="Connection to Agent failed"></div>
            <div *ngSwitchCase="agentStatus.Loading" class="spinner-grow text-light" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div *ngSwitchDefault></div>
        </ng-container>
    </div>
</nav>