<div class="card shadow-sm mb-4">
    <div class="card-header grid">
        <div class="row">
            <small class="col-4">Connection</small>
            <small class="col-6">{{this.connectionId}}</small>
            <div class="col-2">
                <button type="button" class="btn-close float-end" aria-label="Close" (click)="revokeCredential(this.credentials[0].thread_id, this.credentials[0].credential_exchange_id)"></button>
            </div>
        </div>
    </div>
    <div class="card-body">
        <h5>Attributes</h5>
        <div class="row">
            <strong class="col-4">Name</strong>
            <strong class="col-4">Value</strong>
            <strong class="col-4">Valid</strong>
        </div>

        <div *ngFor="let cred of credentials" class="row">
            <div class="col-4">{{cred.name}}</div>
            <div class="col-4">{{cred.value}}</div>
            <div class="col-4">{{cred.is_valid}}</div>
        </div>

    </div>
</div>