<div class="card shadow-sm mb-4" *ngIf="this.credentialExchangeRecord.visible">
    <div class="card-header grid">
        <div class="row pt-2">
            <small class="col-3">Connection</small>
            <strong class="col-5"
                *ngIf="credentialExchangeRecord.initiator == CredentialInitiator.SELF">{{connection?.alias}}</strong>
            <strong class="col-6"
                *ngIf="credentialExchangeRecord.initiator == CredentialInitiator.OTHER">{{credentialExchangeRecord.connection_id}}</strong>
                <div class="col-2" *ngIf="credentialExchangeRecord.initiator === CredentialInitiator.OTHER">
                    <svg (click)="acceptCredential(credentialExchangeRecord.cred_ex_id)" xmlns="http://www.w3.org/2000/svg"
                        width="48" height="48" fill="green" class=" float-end bi bi-check" style="cursor: pointer;"
                        viewBox="0 0 16 16">
                        <path
                            d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z" />
                    </svg>
                </div>
                <div class="col-3" *ngIf="credentialExchangeRecord.initiator === CredentialInitiator.SELF">
                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="red" class="bi bi-check"
                        style="fill-opacity: 0;" viewBox="0 0 16 16">
                        <path
                            d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z" />
                    </svg>
                </div>
                <div class="col-1">
                    <svg (click)="this.withdrawCredentialOffer(credentialExchangeRecord.cred_ex_id)"
                        style="cursor: pointer;" xmlns="http://www.w3.org/2000/svg" width="48" height="48"
                        fill="currentColor" class="float-end bi bi-x" viewBox="0 0 16 16">
                        <path
                            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                    </svg>
                </div>
        </div>
        <div class="row pt-2">
            <small class="col-3">State:</small>
            <div class="col-4">{{credentialExchangeRecord.state}}</div>
        </div>
        <div class="row pt-2">
            <small class="col-3">Role:</small>
            <div class="col-6">{{credentialExchangeRecord.role}}</div>
        </div>
    </div>
    <div class="card-body">
        <h5>Attributes</h5>
        <div class="row">
            <div class="col-4">Name</div>
            <div class="col-8">Value</div>
        </div>
        <div *ngIf="credentialExchangeRecord.initiator === CredentialInitiator.SELF">
            <div *ngFor="let cred of credentialExchangeRecord.cred_preview.attributes" class="row">
                <div class="col-4">{{cred.name}}</div>
                <div class="col-8">{{cred.value}}</div>
            </div>
        </div>
        <div *ngIf="credentialExchangeRecord.initiator === CredentialInitiator.OTHER">
            <div *ngFor="let cred of credentialExchangeRecord.cred_offer.credential_preview.attributes" class="row">
                <div class="col-4">{{cred.name}}</div>
                <div class="col-8">{{cred.value}}</div>
            </div>
        </div>
    </div>
</div>