<div class="container d-grid gap-4">
    <form (submit)="handleSubmit()">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-5">
                <div class="row pt-4">
                    <label for="connectionSelect">Connection:</label>
                    <select id="connectionSelect" name="connection" class="form-control"
                        [(ngModel)]="this.selectedConnectionId">
                        <option value="" disabled selected>Select the connection you want to issue credentials to
                        </option>
                        <option *ngFor="let connection of this.connections"
                            value="{{connection.connection_id}}">{{connection.alias}} - {{connection.connection_id}}
                        </option>
                    </select>
                </div>
                <div class="row pt-4">
                    <label for="schemaSelect">Credential Schema:</label>
                    <select id="schemaSelect" name="schema" class="form-control" (change)="handleChange($event)">
                        <option value="" disabled selected>Select the scheme of the credentials</option>
                        <option *ngFor="let schema of this.schemas" value="{{schema.schemaId}}">{{schema.schemaName}} -
                            {{schema.version}}</option>
                    </select>
                </div>
                <div class="row pt-4">
                    <label for="definitionSelect">Credential Definition:</label>
                    <input id="definitionSelect" name="definition" class="form-control" value="{{this.credDefId}}"
                        disabled>
                </div>
            </div>
            <div class="col-5">
                <div *ngIf="this.schemaAttributes">
                    <div class="row pt-4">
                        <app-credential-form [attributes]="schemaAttributes"
                            (activeFormAttributes)="handleAttributes($event)" />
                    </div>
                    <div>
                        <button type="submit" [disabled]="!this.schemaAttributes"
                            class="btn btn-primary btn-sm mt-4 col-3 float-end">Submit</button>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>