<div *ngIf="this.attributes">
    <div *ngFor="let formAttribute of attributes">
        <div class="row pt-1">
            <div class="col-2"></div>
            <div class="col-10">
                <label for="{{formAttribute.name}}">{{formAttribute.name}}</label>
                <input class="form-control" type="text" id="{{formAttribute.name}}" [(ngModel)]="formAttribute.value" />
                <label *ngIf="formAttribute.error">{{formAttribute.error}}</label>
            </div>
        </div>
    </div>
</div>